.navbar{
    width: 100%;
    height: 60px;
    padding-top: 20px;
    color: #F5DDB7;
}

#linkcontainer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 40%;
    margin: 0;
    right: 10px;
}

.tab{
    width: 120px;
    text-align: center;
    color: #F5DDB7;
}

a{
    text-decoration: none;
}

a:hover{
    color: #F5DDB7;
}

a:visited{
    color: #F5DDB7;
}

