/* @import "Nav"; */
/* @import "Gear"; */

#app{
  background: #2b492b;
  height: 2000px;
  width: 100vw;
  color: #C17D47;
  font-weight: bold;
  position: relative;
}

#belownav{
  width: 100%;
  height: 100%;
  position: relative;
}

#homeimage{
  width: 100%;
  height: 300px;
  background-image: url('./images/library.jpg');
  background-position: center;
  background-size: cover;
  border: 1px solid #2b492b;
  box-shadow: 0px 1px 12px 5px #C17D47;
  background-attachment: fixed;
  padding-top: 100px;
}

#homeimage p{
  text-align: center;
  /* margin-top: 100px; */
  width: 300px;
  height: 100px;
  /* margin-left: 40%; */
  margin: auto;
  background: #F5DDB7;
  opacity: 0.9;
  padding-top: 37px;
  box-shadow: inset 0px 1px 12px 5px #2b492b; 
}

.blogholder{
  background-size: cover;
  background-position: center;
  height: 760px;
  margin: 100px 100px 0 100px;
  background-color:rgba(245,221,183,0.6);
  box-shadow: 0px 1px 12px 5px #C17D47;
  padding-top: 50px;
  /* opacity: 0.3; */
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 80%;
}

.blogthumbnail{
  margin: auto;
  width: 80%;
  height: 300px;
  border: 1px dotted green;
  display: flex;
  margin-bottom: 50px;
}

.blogtext{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.thumbnailimg{
  width: 50%;
}

.dropzone{
  width: 100%;
  height: 100%;
}

.dropzone img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title{
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}

.date{
  font-size: 25px;
  text-align: center;
}

.timeline{
  position: absolute;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  top: 210%;
  align-items: center;
}

.timelinetext{
  text-align: center;
  font-size: 50px;
  border-bottom: 4px double #C17D47;
  padding: 20px;
  width: 400px;
  margin-bottom: 10px;
}

.right{
  height: 100px;
  margin-right: 50%;
  width: 50%;
  position: relative;
  text-align: right;
  padding-right: 25px;
}

.right:after{
  content: '';
  width:15px;
  height: 15px;
  border-radius: 50%;
  background: #C17D47;
  position: absolute;
  right: 0;
  top: 0;
}

.left{
  text-align: left;
  height: 100px;
  margin-left: 50%;
  width: 50%;
  position: relative;
  padding-left: 10px;
  /* padding: 30px; */
}

.left:before{
  content: '';
  width:15px;
  height: 15px;
  border-radius: 50%;
  background: #C17D47;
  position: absolute;
  margin-left: -25px;
}

.line{
  border-right: 2px solid #C17D47;
  width: 2px;
  position: absolute;
  left: 50%;
  margin-left: -8.5px;
  top: 26%;
  /* top: 1409px; */
}

.timelinetitle{
  font-size: 30px;
  color: #C17D47;
}
.timelinedate{
  font-size: 15px;
  color: #C17D47;
}
